html
   head
      title Simple template
   body
      include ./header.pug
      h1 Hi Logan!!! It's daddy!
      h2 Hello Daddy, it's Logan. It's nice to see you.ic
      h3 I'm the main content
      include ./footer.pug